In [1]:
#IMPORT LIBRARIES
import pandas as pd

In [4]:
#LOAD DATA
disbursment_data = pd.read_excel('C:/Users/Brandy Odhiambo/Desktop/Credable/case_study.xlsx')
disbursment_data.head(4)

,customer_id,disb_date,tenure,account_num,loan_amount,loan_fee
0,91810ca1aa097db79f050f38e9946fa5482b4e28c925e2...,2024-03-19,14 days,3O66YENWELA6E2H1R9YLX0LDZNOMNHD4,360,43.2
1,42ca06e6fe1ff9803e82a5c20184671b54090e488f78d6...,2024-03-19,7 days,6XWHXKKR1W2HIA8I0V75PZFZBXUUGSVO,70,7.0
2,b23747f53af805e18ad16a4ef235b6642d88f9134644ff...,2024-03-19,7 days,OCGK3RJZ91A999VXD4VB3LATPSME3J5L,3500,350.0
3,1bd32f9b083fc6ddfffd65730fbfa66654fa76a19b0b0e...,2024-03-19,14 days,9X3Q682DOR7927IMMJLFHBGP0RP7YF5C,3500,420.0

In [5]:
#CHECK SHAPE 
disbursment_data.shape

(26585, 6)

In [6]:
#CHECK SIZE
disbursment_data.size

159510

In [7]:
#CHECK INFO 
disbursment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26585 entries, 0 to 26584
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  26585 non-null  object
 1   disb_date    26585 non-null  datetime64[ns]
 2   tenure       26585 non-null  object
 3   account_num  26585 non-null  object
 4   loan_amount  26585 non-null  int64
 5   loan_fee     26585 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 1.2+ MB

In [8]:
#CHECK NULL VALUES ,SUM OF NULL VALUES
disbursment_data.isnull().sum()

customer_id    0
disb_date      0
tenure         0
account_num    0
loan_amount    0
loan_fee       0
dtype: int64

In [20]:
#CHECK DUPLICATES,SUM OF DUPLICATES
disbursment_data.duplicated().sum()

0

In [19]:
#REMOVE DUPLICATES
disbursment_data.drop_duplicates(inplace=True)

In [23]:
#NUMERIC VALUES
disbursment_data.describe()

                           disb_date   loan_amount      loan_fee
count                          26585  26585.000000  26585.000000
mean   2024-04-17 13:54:22.275719680   1001.021403    129.698904
min              2024-01-01 00:00:00     70.000000      7.000000
25%              2024-02-25 00:00:00    150.000000     16.800000
50%              2024-04-15 00:00:00    420.000000     50.000000
75%              2024-06-08 00:00:00   1460.000000    181.500000
max              2024-08-11 00:00:00   3500.000000    525.000000
std                              NaN   1171.233304    160.836971