In [1]:
#IMPORT LIBRARIES
import pandas as pd

In [2]:
#LOAD DATA
file = 'C:/Users/Brandy Odhiambo/Desktop/Credable/case_study.xlsx'
repayment_data = pd.read_excel(file,sheet_name='Repayments')
repayment_data.head(4)

,date_time,customer_id,amount,rep_month,repayment_type
0,27-JUN-24 07.16.36.000000000 AM,683131338d401fda38410a808797b7706bc3e364d0fe77...,500.65,202406,Automatic
1,27-JUN-24 05.26.50.000000000 PM,56a41251185bd205961556399289804607ccc660392837...,2833.33,202406,Automatic
2,27-JUN-24 06.45.40.000000000 PM,000e57e83f161e4ba6458b3e32c00815405c5a005e652b...,143.98,202406,Automatic
3,27-JUN-24 01.24.57.000000000 PM,f3606d5ac9a89e0251a60d7183a09bc742eba2e36882af...,1000.00,202406,Automatic

In [3]:
#CHECK SHAPE 
repayment_data.shape

(66016, 5)

In [4]:
#CHECK Size 
repayment_data.size

330080

In [5]:
#CHECK INFO 
repayment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66016 entries, 0 to 66015
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       66016 non-null  object
 1   customer_id     66016 non-null  object
 2   amount          66016 non-null  float64
 3   rep_month       66016 non-null  int64
 4   repayment_type  66016 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.5+ MB

In [6]:
#CHECK NULL VALUES ,SUM OF NULL VALUES
repayment_data.isnull().sum()

date_time         0
customer_id       0
amount            0
rep_month         0
repayment_type    0
dtype: int64

In [9]:
#CHECK DUPLICATES,SUM OF DUPLICATES
repayment_data.duplicated().sum()

0

In [8]:
#REMOVE DUPLICATES
repayment_data.drop_duplicates(inplace=True)

In [10]:
#NUMERIC VALUES 
repayment_data.describe()

             amount      rep_month
count  66016.000000   66016.000000
mean     462.056628  202404.374697
std      838.108424       2.179937
min        0.010000  202401.000000
25%       22.440000  202403.000000
50%      110.565000  202404.000000
75%      450.000000  202406.000000
max     4025.000000  202408.000000